{  
  "extends": ["eslint:recommended", "react-app"],
  "rules": {    
    "no-trailing-spaces": "error",
    "max-len": ["error", {"code": 80}],
    "complexity": ["error", 7],
    "max-depth": ["error", 4],
    "max-statements": ["error", 20],
    "max-nested-callbacks": ["error", 3],
    "max-lines": ["error", {"skipBlankLines": true, "skipComments": true}],
    "indent": ["error", 2],
    "eol-last": "error",
    "semi": ["error", "never"],
    "jsx-a11y/href-no-hash": 0
  }
}